.header{
  display: flex;
  margin-top: 1rem;
  &.logo{
    width: 5rem;
    border-radius: 1rem;
  }
}

h1{
  color: beige;
  margin-top: 2rem;
  margin-left:1rem ;
}

.tareas__list{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;

}

button{

  margin-left: 1rem;
}

.boton__eliminar-imagen{
  width: 7rem;
  margin-top: 1rem;
}
