<h1>Listado de tareas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acción</th>
      <th>Responsable</th>
      <th>Duración</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>tumase</td>
      <td>tumase</td>
      <td>tumase</td>
      <td>tumase</td>
      <td>tumase</td>
      <td><button class=" botones boton__editar" type="button"> Editar
        <img class="boton__editar-imagen" src="./assets/imagenes/doughnut.png" alt="">
      </button></td>
      <td><button class=" botones boton__eliminar" type="button"> Eliminar</button></td>
    </tr>
  </tbody>
</table>
