
<div class="contenedor grid">
  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title"><span>Nombre: </span> {{ tarea.nombre}} </h5>
      <p class="card-text"><span>Acción: </span>{{tarea.accion}} </p>
      <p class="card-text"><span>Responsable: </span>{{tarea.responsable}} </p>
      <p class="card-text"><span>Duración: </span>{{tarea.duracion}} </p>
      <p class="card-text"><span>Estado: </span>{{tarea.estado}} </p>
      <button (click)="editar(tarea.id)" class="btn btn-warning mb-2">Editar  <img class="boton__editar-imagen" src="./assets/imagenes/doughnut.png" alt=""></button>

            <button  (click)="eliminar(tarea.id)" class="btn btn-danger mb-2">Eliminar <img class="boton__eliminar-imagen" src="./assets/imagenes/boton_eliminar.png" alt=""></button>
      </div>
    </div>
</div>





