

.card{

  margin-top: 2rem;
  background-color: #222222;
  color: beige;

}


.btn-primary{

  color: aqua;
  margin-top: 1rem;
  .boton__imagen{
    width: 2rem;
  }

}


.btn-warning{
 .boton__editar-imagen{
    width: 2rem;
  }
}

.btn-danger{
  .boton__eliminar-imagen{
    width: 3rem;

  }

 }
