 <!-- ANIMATE CSS -->


 <header>

  <div class="contenedor header">

    <div class="logo">
      <img class="header__logo-img" src="./assets/imagenes/icono_header.png" alt="">
    </div>

    <div class="titulo">
      <h1 class="header__titulo-heading">To<span class="titulo__span">Donut</span></h1>
    </div>

  </div>


</header>


<body>


    <div class="contenedor listado__tareas" >

      <div class="contenedor organizador">
        <h3 class="organizador__titulo"> Registro de tareas</h3>
          <form  (ngSubmit)="guardar()"
                [formGroup]="miFormulario"
                 class="contenedor formulario">

            <p>
              <label class="formulario__label ">Nombre: </label>
              <input class="formulario__input"type="text" formControlName="nombre" maxlength="100" autocomplete="off">
            </p>

            <p>
              <label class="formulario__label">Acción: </label>
              <input class="formulario__input" type="text" formControlName="accion" maxlength="100" autocomplete="off">
            </p>

            <p>
              <label class="formulario__label">Responsable: </label>
              <input class="formulario__input" type="text" formControlName="responsable" maxlength="100" autocomplete="off">
            </p>

            <p>
              <label class="formulario__label">Duración: </label>
              <input class="formulario__input" type="text" formControlName="duracion" maxlength="100" autocomplete="off">
            </p>

            <p class="formulario bloque">
              <label class="formulario__label">Estado: </label>
              <select formControlName="estado"  class="formulario__select" >
                  <option value="Inicio" selected>Inicio</option>
                  <option value="En Progreso" selected>En progreso</option>
                  <option value="QA" selected>En revisión</option>
                  <option value="Finalizada" selected>Finalizada</option>
                  <option value="5"selected>Seleccione...</option>
              </select>
            </p>

              <P class="bloque">
                <button class="boton__crear"
                      (click)="guardar()"
                      type="submit">
                      Crear Tarea
                      <img class="boton__imagen" src="./assets/imagenes/icono_boton_crear.png" >
              </button>


              </P>

          </form>

        </div>

        <div >
          <img class="imagen__form" src="./assets/imagenes/imagen__form.svg" alt="">
        </div>
    </div>



</body>
